.movieCam{
    height: 3rem;
    position: absolute;
    left: 0;
}

.searchIcon{
    height: 0.5rem;
}

h3{
    padding-bottom:0;
    margin:0;
}

.topbar{
    background-color:orange;
    box-shadow: 0px 10px 10px 5px #00000010;
    display:flex;
    box-sizing: border-box;
    padding:0.3rem 1rem;
    justify-content: space-around;
}

.team{

    display:block;
}